app/node_modules/**
server/node_modules/**
server/error.log
server/combined.log
server/exceptions.log
server/static/**
server/certs/**
ledger_sync/node_modules/**
ledger_sync/error.log
ledger_sync/combined.log
ledger_sync/exceptions.log
processor/node_modules/**
processor/error.log
processor/combined.log
processor/exceptions.log
/shell
shell/**

node_modules
.idea
.env.local